/* .rojo{
    color: #C5A253;
}

.retoques{
    color: #D72638;
} */

.colorNav{
    background: #282828;
    
}

.colorSobreMi{
    background-color: #282828;
}

body {
    min-height: 100vh;
    background: radial-gradient(
        circle at top,
        #2563eb 0%,
        #1e3a8a 40%,
        #020617 80%
    );
}

.redondo{
    border-radius: 30px; /* o 999px para "super redondo" */
    padding: 8px 20px;
    font-weight: 600;
}
