.colorNav{
    background: #232946;
    
}

body {
    background-color: #232946;
    font-family: Poppins;
}

p{
    color: #b8c1ec;
}   

.redondo{
    border-radius: 30px;
    padding: 8px 20px;
}

.card {
  background-color: #0F172AD9;
  border: 1px solid rgba(148, 163, 184, 0.15);
  color: #e5e7eb;
  backdrop-filter: blur(6px);
}

.boton{
    background-color: #4e4f5f;
    border: solid 1px #b8c1ec;
    color: white;
}
.boton:hover{
    background-color: #34343f;
    border: solid 1px #34343f;
    color: white;
}

.resaltado{
    color: #f2d760;
}